/* CSS Document */

.active {
    color: var(--primary-color);
}

mark {
    display: flex;
    align-self: flex-start;
    align-items: center;
    padding: .10rem .30rem;
    margin-bottom: 0.75rem;
    border-radius: 1rem;
    font-family: "Effra";
    color: var(--natural);
    font-weight: 500;
    font-size: 12px;
    width: auto;
    background: var(--primary-color);
}

a:hover {
    transition: .1s;
    color: var(--primary-color);
}

a {
    transition: .1s;
}

.circle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2.802rem;
    height: 2.802rem;
    border-radius: 50%;
    color: var(--primary-color);
    background: var(--not-yellow);
}

.circle__small {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    color: var(--natural);
    background: var(--primary-color);
}

.article time {
    margin-left: 10px;
    color: var(--usefull-color);
}

.article em {
    margin-left: 10px;
    color: var(--usefull-color);
}

.large-image {
    position: relative;
    width: inherit;
    height: 252px;
    margin: 1rem 1rem 2rem 1rem;
}

.large-image::after {
    content: "";
    position: absolute;
    bottom: -1rem;
    left: 0;
    height: 1px;
    width: 100%;
    background: var(--light-grey);
}

.large-image figure {
    position: relative;
    width: inherit;
    height: 252px;
    border-radius: 5px;
    overflow: hidden;
    z-index: 1;
}

.large-image figure::after {
    content: "";
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 99%;
    background-image: linear-gradient(rgba(0, 0, 0, 0) 25%, rgba(0, 0, 0, .7));
    z-index: 2;
}

.large-image figure img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.large-image figure figcaption {
    position: absolute;
    padding: 1rem;
    color: var(--natural);
    bottom: 0;
    z-index: 3;
}

.large-image figure figcaption h2 {
    font-size: 22px;
}

@media only screen and (max-width: 759px) {
    .mob-on {
        display: none;
    }

    .mob-off {
        display: block;
    }
}
