/* CSS Document */
*, *::after, *::before, a {
    margin: 0;
    box-sizing:border-box;
    text-decoration: none;
    list-style-type: none;
    color: inherit;
}

/* Defaults */
input, button, submit {
    border:none;
    background: none;
}

ul, li, ol {
    margin-left: 0 ;
    padding-left: 0;
}


/* Hier begint het leven */
body {
    font-size: var(--normal);
    color: var(--dark-color);
    font-family: 'Helvetica Neue';
    font-weight: 100;
    font-style: normal;
    letter-spacing: .3px;
    line-height: 1.15;
}

/* nav */
nav {
    position: fixed;
    display: flex;
    justify-content: space-between;
    top: 0;
    width: 100%;
    height: 4.4em;
    align-items: center;
    padding: 1em;
    box-shadow: 0 .125rem .25rem 0 rgb(0 0 0 / 12%);
    background-color: var(--natural);
    z-index: 99;
}

nav ol {
    position: relative;
    display: flex;
    align-items: center;
    padding: 0;
}

nav ol:last-child button svg {
    width: auto;
    height: 1.25rem;
    margin: 0;
    padding: 0;
    transform: rotate(90deg);
}

nav ol:last-child a {
    padding-left: 1rem;
}

nav ol:last-child li:last-child::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 1px;
    margin: 0 .25rem;
    background: var(--light-extra);
}

/* dropdown menu */
.dropdown {
    position: absolute;
    flex-direction: column;
    margin: 0 auto;
    top: 2.8rem;
    right: auto;
    width: 100%;
    overflow: scroll;
    max-width: 11rem;
    max-height: calc(92vh - 5rem);
    border-radius: 0.25rem;
    box-shadow: rgb(0 0 0 / 15%) 0px 0.25rem 0.625rem 0px;
    background: var(--natural);
    color: var(--main-color);
    opacity: 0;
    transition: opacity 100ms ease-in-out 0s, margin-top 300ms ease-in-out 0s;
}

.open {
    opacity: 1;
}

/* dropdown list */
nav ol li ol li {
    padding: 1rem;
    color: rgb(102, 102, 102);
    width: 100%;
    font-size: 0.875em;
    font-weight: 500;
    line-height: 1.14;
    border-bottom: 1px solid var(--light-grey);
}

nav ol li ol li a {
    padding-left: 0 !important;
}

.dropdown__item::before {
    content: none !important;
}

nav ol:last-child li:last-child svg {
    width: 1.25rem;
    height: 1.25rem;
    margin: .2rem 0 0 .2rem;
    color: var(--main-color);
}

nav svg {
    width: 55px;
    margin: 0 .5rem 0 0;
}

nav button {
    display: flex;
    align-items: center;
    font-size: 1em;
    font-weight: 400;
    padding: 0 .5rem;
    letter-spacing: .0167rem;
    color: var(--second-color);
    font-family: inherit;
}

nav button svg {
    width: .5rem;
    margin: .25rem 0px 0px .25rem;
}

/* Header */
header {
    margin-top:4.4em;
}

header h2 {
    font-size: 22px;
}

header figure:first-of-type {
    position: relative;
    overflow: hidden;
    width: 100%;
}

header figure:first-of-type::before {
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 99%;
    background-image: linear-gradient(rgba(0, 0, 0, 0) 25%, rgba(0, 0, 0, .7));
    z-index: 2;
}

header figcaption:first-of-type {
    position: absolute;
    color: var(--natural);
    line-height: 1.11;
    padding: 1rem 1rem 0 1rem ;
    bottom: 1em;
    z-index: 22;
}

.header-articles {
    display: flex;
    padding: 1rem 0 1rem 1rem;
}

.header-articles figure {
    margin-right: 1rem;
    width: 50%;
}

.header-articles figure img {
    min-height: 7.5rem;
    width: 100%;
    object-fit: cover;
    border-radius: 5px;
}

.header-articles figure figcaption {
    margin-top: .5rem;
    font-family: "HelveticaNeue";
    font-size: 14px;
}

.article {
    padding: 1rem;
}

.article section div {
    margin-bottom: 1.33rem;
    font-size: 11px;
    font-weight: bold;
    letter-spacing: .05em;
    text-transform: uppercase;
}

.stories {
    display: flex;
    align-items: center;
    padding: 1rem;
    flex-direction: column;
}

.stories figure {
    display: flex;
    align-items: center;
    flex-direction: row;
    padding: 1rem 0px calc(1rem - 1px);
    border-bottom: 1px solid var(--light-grey);
}

.stories figure img {
    min-height: 4.875rem;
    width: 6.5rem;
    object-fit: cover;
    border-radius: 5px;
}

.stories figcaption {
    font-family: "HelveticaNeue";
    font-size: 14px;
    padding-left: 1rem;
}

.story-slider {
    margin: 1rem 0;
}

.story-slider h2 {
    font-family: "Effra";
    font-size: 18px;
    color: var(--primary-color);
    padding-left: 1rem;
    padding-bottom: 8px;
}

.story-slider figure {
    position: relative;
    min-width: 8.35rem;
    min-height: 11.13rem;
    border-radius: 5px;
    margin-left: 1rem;
    background: red;
    overflow: hidden;
}

.story-slider__wrapper {
    display: flex;
    flex-direction: row;
    scroll-snap-type: x mandatory;
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
    padding-right: 2rem;
    padding-bottom: 1rem;
    clip-path: inset(0 0 10px 0);
}

.story-slider__wrapper figure img {
    position: relative;
    width: 100%;
    height: 100%;
    scroll-snap-align: start;
    object-fit: cover;
    z-index: 2;
}

.story-slider__wrapper figure figcaption {
    position: absolute;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    padding: 1rem;
    bottom: 0;
    font-family: "Effra";
    font-size: var(--f-small);
    font-weight: 500;
    line-height: 1rem;
    color: var(--natural);
    z-index: 10;
}

.story-slider__wrapper figure figcaption svg {
    width: 13px;
    height: 15px;
    margin-right: .25rem;
}

.story-slider__wrapper figure::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    object-fit: cover;
    height: 50%;
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
    z-index: 5;
}

aside section {
    margin: 1rem;
    padding: 1rem;
    border-radius: .25rem;
    box-shadow: rgb(0 0 0 / 10%) 0px 2px 8px 0px;
}

aside section a {
    position: relative;
    display: flex;
    align-items: center;
    padding: 1rem 0;
}

aside section a:first-child {
    padding: 0 0 1rem 0;
}

aside section a:last-child {
    padding: 1rem 0 0 0;
}

aside section a:not(:last-child)::after {
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgb(238, 238, 238);
    height: 1px;
}

aside section a svg:first-child {
    max-width: 60px;
    margin-right: 1rem;
}

aside section a svg:last-child {
    max-width: 16px;
    max-height: 24px;
    color: var(--usefull-extra-color);
    align-content: center;
}

aside section a p {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 100%;
}

aside section a span {
    padding-bottom: .25rem;
    font-weight: 500;
    color: #222222;
}

aside section a span:last-child {
    font-size: 14px;
    color: var(--main-color);
    margin: auto;
    line-height: 1;
    font-weight: 400;
    width: 100%;
}

footer {
    display: flex;
    margin-top: 3rem;
    flex-direction: column;
}

footer h2 {
    margin: 1rem 0;
    color: var(--primary-color);
}

footer li {
    margin-bottom: 1rem;
    line-height: 1.13;
    font-weight: 500;
    color: var(--second-color);
}

.footer__main {
    order: 2;
    padding: 0 2rem 1rem 2rem;
}

.footer__cta {
    display: flex;
    flex-direction: column;
    order: 1;
    width: 100%;
    border-top: 1px solid var(--light-grey);
    border-bottom: 1px solid var(--light-grey);
}

.footer__cta--item {
    display: flex;
    align-items: center;
    padding: 1rem 2rem;
}

.footer__cta--item p {
    display: flex;
    margin-left: 1rem;
    flex-direction: column;
    font-weight: 500;
}

.footer__cta--item p span {
    font-size: var(--f-small);
    font-weight: 400;
    color: var(--second-color);
}


.footer__cta--item:last-child {
    border-top: 1px solid var(--light-grey);
}

.footer__second {
    display: flex;
    flex-direction: column;
    padding: 2rem 0 0;
    border-top: 1px solid var(--light-grey);
    order: 3;
}

.footer__second--socials {
    display: flex;
    justify-content: center;
    margin-top: .7rem;
}

.footer__second a {
    align-self: center;
}

.footer__second--socials a {
    margin: 11px;
}

.footer__second--socials a svg {
    transform: scale(0.8);
}

.footer__second ol {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    width: 100%;
    padding: 1.57rem 2rem;
    margin-top: 1rem;
    font-weight: 300;
    border-top: 1px solid rgb(238, 238, 238);
}
