/* CSS Document */
*, *::after, *::before {
    margin: 0;
    box-sizing:border-box;
    text-decoration: none;
    list-style-type: none;
}

:root {
/* Kleurenboek */
    --main-color: #666666;
    --primary-color: #e61e14;
    --second-color: #666666;
    --usefull-color: #999999;
    --light-extra: #dddddd;
    --natural: #ffffff;

/* Witruimtes, afstanden */
    --padding-s: .89em 0;
    --padding-m: .89em;
    --margin-s: .67em;
}

body {
    font-size: 16px;
    font-family: 'Helvetica Neue';
    font-weight: 100;
    font-style: normal;
    line-height: 1.15;
}

h1 {
    color:var(--main-color);
}

h2 {
    font-family: 'Effra', 'Helvetica Neue';
    font-size: 22px;
    font-weight: 500;
    letter-spacing: 1px;
}

input, button, submit {
    border:none;
    background: none;
}

.active {
    color: var(--primary-color);
}

nav {
    position: fixed;
    display: flex;
    justify-content: space-between;
    top: 0;
    width: 100%;
    height: 4.4em;
    align-items: center;
    padding: 1em;
    box-shadow: 0 0.125rem 0.25rem 0 rgb(0 0 0 / 12%);
    background-color: #fff;
    z-index: 99;
}

nav ol {
    position: relative;
    display: flex;
    align-items: center;
    padding: 0;
}

nav ol:last-child button svg {
    width: auto;
    height: 1.25rem;
    margin: 0;
    padding: 0;
    transform: rotate(90deg);
}

nav ol:last-child a {
    padding-left: 1rem;
}

nav ol:last-child li:last-child::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 1px;
    margin: 0px 0.25rem;
    background: var(--light-extra);
}

nav ol:last-child li:last-child svg {
    width: 1.25rem;
    height: 1.25rem;
    margin: 0.2rem 0 0 0.2rem;
    color: var(--main-color);
}

nav svg {
    width: 65px;
    margin: 0 0.5rem 0 0;
}

nav button {
    display: flex;
    align-items: center;
    font-size: 1em;
    font-weight: 400;
    padding: 0 0.5rem;
    letter-spacing: 0.0167rem;
    color: var(--second-color);
    font-family: inherit;
}

nav button svg {
    width: 0.5rem;
    margin: 0.25rem 0px 0px 0.25rem;
}

.header {
    margin-top:4.4em;
}

.header figure:first-of-type {
    position: relative;
    overflow: hidden;
    width: 100%;
}

.header figure:first-of-type::before {
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 99%;
    background-image: linear-gradient(rgba(0, 0, 0, 0) 25%, rgba(0, 0, 0, 0.7));
    z-index: 2;
}

.header figcaption:first-of-type {
    position: absolute;
    color: var(--natural);
    line-height: 1.11;
    padding: 1em 1em 0 1em ;
    bottom: 1em;
    z-index: 99;
}

.header-articles {
    display: flex;
    padding: 1rem 0 1rem 1rem;
}

.header-articles figure {
    margin-right: 1rem;
    width: 50%;
}

.header-articles figure img {
    border-radius: 5px;
}

.header-articles figure figcaption {
    margin-top: .5rem;
    font-family: "HelveticaNeue";
    font-size: 14px;
}
