@media only screen and (min-width: 1100px) {

/* Navigatie sectie - Pagina 1/2 */
    nav svg {
        width: 70px;
        margin: 0 .5rem 0 0;
    }

    nav button {
        padding: 0 1.11rem;
        font-size: var(--f-large);
        font-weight: 400;
    }

    /* dropdown list */
    nav ol li ol li {
        padding: 1rem;
        color: rgb(102, 102, 102);
        width: 100%;
        font-size: 1em;
        font-weight: 400;
        line-height: 1.14;
        border-bottom: 1px solid var(--light-grey);
    }


/* Main sectie - Pagina 1/2 */
    main {
        display: flex;
    }
    main section {
        margin-right: 1rem;
        width: 70%;
    }

    main aside section {
        margin-left: .4rem;
        margin-bottom: 2rem;
        width: 93%;
    }

    main aside section h2 {
        margin: .5rem 0;
        color: var(--primary-color);
    }

/* Artikel pagina - Pagina 2 */
    .article-p header {
        display: flex;
        flex-direction: column-reverse;
        max-width: 876px;
        margin-left: 14.5%;
    }
    .article-header h1 {
        line-height: 1.22;
        font-size: 2.22em;
        margin: 0 0 1.78rem;
    }

    .article-headliner {
        padding: 2rem 6rem 0;
    }

    .article {
        display: flex;
        flex-direction: column;
        padding: 2rem 6rem 0;
    }

    .article__story {
        max-width: 61.6%;
        margin-left: 10.2%;
        font-size: var(--f-large);
    }

    .article__story article {
        max-width: 89%;
    }

    .article__story article header {
        flex-direction: inherit;
    }

    .discover-more {
        margin-top: 2rem;
        max-width: 61.6%;
        margin-left: 10.2%;
        padding-left: 1em;
        border-left: 1px solid var(--usefull-extra-line-color);
    }

    .discover-more h3 {
        font-size: .875em;
        font-weight: 700;
        color: var(--main-color);
        text-transform: uppercase;
    }

    .discover-more figure {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-top: 1rem;
    }

    .discover-more figure figcaption {
        font-size: .875em;
        line-height: 1.4;
        font-weight: 700;
        padding: .5rem .5rem .5rem 1rem;
        color: var(--darker-color);
    }

    .discover-more figure img {
        min-width: 128px;
        height: auto;
        width: 80px;
    }
}
