/* CSS Document */

:root {
/* Kleurenboek */
    --main-color: #666666;
    --dark-color: #222222;
    --darker-color: #333333;
    --primary-color: #e61e14;
    --second-color: #666666;
    --usefull-color: #999999;
    --usefull-extra-color: #888888;
    --usefull-extra-line-color: #d8d8d8;
    --light-extra: #dddddd;
    --light-grey: #eeeeee;
    --natural: #ffffff;
    --not-yellow: #f3f3f0;

/* Witruimtes, afstanden */
    --padding-s: .89em 0;
    --padding-m: .89em;
    --margin-s: .67em;

/* Letterkast formaat */
    --f-d-large: 28px;
    --f-large: 18px;
    --f-normal: 16px;
    --f-small: 14px;
}

@media (prefers-color-scheme:dark) {
    :root:not(.lightMode) {
        --natural: #222222;
    }
}
